# Dependencies
node_modules/
venv/
__pycache__/
*.pyc

# Environment
/backend/.env
/frontend/.env
/collector/.env

# Build output
/frontend/dist/

# OS files
.DS_Store
Thumbs.db

# Backups (local only)
/backups/

# IDE
.vscode/
.idea/

# Formulation data
/formulations
/production.md
/secret.pem
/backend/logs/backend/logs/
/backend/uploads/*
/supabase/